{% extends 'base.html' %}
{% load static %}
{% block metadescripton %}

      We Have Wide Verity of Products.....
{% endblock %}

{% block title %}
search
{% endblock %}

{% block content %}
<div>
 <p class="text-center my_search_text">You Have Searched For:<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{products.get_url}}"><img class="card-image-top my_image" src="{{product.image.url}}" alt="{{product.name}}"> </a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row max-auto">
            <p class="text-center my_search_text"> 0 results fount </p>

        </div>
        {% endfor %}
    </div>
{% endblock %}